/* *{border:1px solid red;} */

.can-i-do{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:.5rem
}

#gray-img{
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@media screen and (max-width:940px){
  #content-two{
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  #what-do-i-know{
    width: 100%;
  }
  #baruch-hashem{
    width: 100%;
  }
  #to-hide-man{
    display: none;
  }
  .projects{
    grid-template-columns: 1fr;
  }
  #crypto-desc, #fake-desc, #server-desc, #old-desc{
    text-align: justify;
  }
  
}