@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face{
  font-family: "Chomsky";
  src: local("Chomsky"),
    url("./fonts/Chomsky.otf") format('truetype');
}

@font-face {
  font-family: "OldNewspaper";
  src: url('./fonts/OldNewspaperTypes.ttf') format('truetype');
}

body{
  width: 70%;
  margin: auto;
}
