@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face{
  font-family: "Chomsky";
  src: local("Chomsky"),
    url("./fonts/Chomsky.otf") format('truetype');
}

@font-face {
  font-family: "OldNewspaper";
  src: url('./fonts/OldNewspaperTypes.ttf') format('truetype');
}

body{
  width: 70%;
  margin: auto;

  /* background-color: #f8f5de; */
  background-color: #f9f7f1;
  /* background-image: linear-gradient(to bottom rgba(255, 210, 0, 0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0, 0, 0, 0) 35%, rgba(200, 160, 0 ,0.1) 65%); */
}

@media only screen and (max-width:940px){
  body{
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width:950px){
  body{
    width: 100%;
    margin: auto;
  }
}

@media only screen and (min-width:1400px){
  body{
    width: 90%;
    margin: auto;
  }
}

@media only screen and (min-width:1600px){
  body{
    width: 70%;
    margin: auto;
  }
}

.aka{
  display: none;
}